{% extends 'base.html' %}
{% block content %}

<div class="menu">
    <div class="">
        <img src="./static/img/instagram-logo.png" class="instagram-logo-cont" alt="logo-instagram">
    </div>
    <div class="search">
        <input type="text" id="txtBusca" autocapitalize="none" placeholder="Pesquisar..."/>
    </div>
    <div class="icons">
        <a href="/"><img src="./static/img/icon_home.png" class="" alt="home"></a>
        <img src="./static/img/icon_carta.png" class="" alt="carta">
        <img src="./static/img/icon_bussola.png" class="" alt="bússola">
        <img src="./static/img/icon_coracao.png" class="" alt="coração">
        <img src="./static/img/icon_foto.png" class="" alt="foto">
    </div>
</div>
<div class="submenu">
    <div class="box_um">
        <div class="post">

            <div class="post-foto">
                <img src="./static/img/icon_foto.png" class="" alt="foto">
            </div>
            <div class="post-profile">
                alexsandroaugustoignacio
            </div>

            <div class="post-link">
                <a href="/">...</a>
            </div>
        </div>
        <img src="./static/img/imgfeed.jpg" class="feed" alt="img feed">
    </div>
    <div class="box_dois">
        <div class="subbbox1">
            <div class="nome-profile-foto">
                <div>
                    <img src="./static/img/icon_foto.png" class="foto02" alt="foto">
                </div>
                <div class="texto-profile">                        
                    Alexsandro Augusto Ignácio
                    alexsandroaugustoignacio
                </div>
                <div class="mudar">
                    <a href="/">Mudar</a>
                </div>
            </div>
        </div>
        <div class="subbbox2">
            <div class="sugest">
                <div class="nome-sugest">
                    Sugestões para você
                </div>
                <div class="mudar-sugest">
                    <a href="/">Mudar</a>
                </div>
            </div>
        </div>
        <div class="subbbox3">
            <div class="coppyright">
                Sobre |
                Ajuda |
                Imprensa |
                API |
                Carreiras
                Privacidade |
                Termos |
                Localizações |
                Contas |
                mais
                relevantes |
                Hashtags |
                Idioma |
                Português (Brasil).
            </div>
        </div>
    </div>
</div>

{% endblock %}