{% extends 'base.html' %}
{% block content %}

<div class="menu">
    <div class="">
        <img src="./static/img/instagram-logo.png" class="instagram-logo-cont" alt="logo-instagram">
    </div>
    <div class="search">
        <input type="text" id="txtBusca" autocapitalize="none" placeholder="Pesquisar..."/>
    </div>
    <div class="icons">
        <a href="/"><img src="./static/img/icon_home.png" class="" alt="home"></a>
        <img src="./static/img/icon_carta.png" class="" alt="carta">
        <img src="./static/img/icon_bussola.png" class="" alt="bússola">
        <img src="./static/img/icon_coracao.png" class="" alt="coração">
        <img src="./static/img/icon_foto.png" class="" alt="foto">
    </div>

</div>

{% endblock %}